#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


a:link {
  border: 10px solid black;
  text-decoration: none;
  background-color: brown;
  color: red;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.links {
  border: 2px solid black;
}