#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color:aliceblue;
}

body {
  background-color: hsl(24, 67%, 60%);
}


a:link {
  border: 10px solid black;
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.links {
  border: 2px solid black;
  color:aliceblue;
}
